@tailwind base;
@tailwind components;
@tailwind utilities;

.menu{
    cursor: pointer;
    
}


    html{
    overflow-x: hidden;
    }
    .navitems ul li .active{
        background-color: aliceblue;
        color:#2F1893;
      
      }

      .navitems ul li .inactive{
       background-color: orange;
       color: black;
       font-weight: bold;
      
      }